<h2>RESULTS:</h2>
<% if GAME.winner == "Draw" %>
 <h1> it was a draw </h1>
 <%=erb :winner%>
 <% elsif GAME.winner.name == "Computer" %>
	<h1> You lost, the <%=GAME.winner.name%> won with <%= GAME.winner.pick %></h1>
	<%=erb :winner%>
<% else %>
	<h1> <%= GAME.winner.name%> won, with <%= GAME.winner.pick%> </h1>
	<%=erb :winner%>
<%end%>
<form action="/" method="GET">
<button>New Game!</button>
</form>

<form action="/play_again" method="POST">
<button>Play again!</button>
</form>



