<h2>RESULTS:</h2>
<% if @game.winner == "Draw" %>
 <h1> it was a draw </h1>
 <%=erb :winner%>
 <% elsif @game.winner.name == "Computer" %>
	<h1> You lost, the <%=@game.winner.name%> won with <%= @game.winner.pick %></h1>
	<%=erb :winner%>
<% else %>
	<h1> <%= @game.winner.name%> won, with <%= @game.winner.pick%> </h1>
	<%=erb :winner%>
<%end%>
<form action="/" method="GET">
<button>New Game!</button>
</form>

<form action="/play_again" method="POST">
<button>Play again!</button>
</form>



